::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(192, 192, 192);
}

html{
    overflow-x: hidden;
}